<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/carousel.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>Books</h1>
    <!-- " -->
    <form id="book-form">  
      <input name="title" placeholder="title" required/> <br>
      <input name="isbn" placeholder="isbn" required/> <br>
      <input name="pdate" placeholder="published date" required /> <br>
      <input name="author" placeholder="author" required /> <br>
      <input name="id" hidden/> <br>
      <button id = "sbmtbtn" onclick="submitBook(event)"/>Submit</button>
      <button id = "editbtn" />Clear</button>
      <button id = "deletebtn" />Delete</button>
      
    </form>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Published date</th>
          <th>Author</th>
          <th>Update</th>
       </tr>
      </thead>
      <tbody id ="book-table"></tbody>
    </table>

</body>

<script src="js/main.js"></script>
</html>